/* gellery */

#container img {
    border-radius: 5px;
}
#container .imga:hover {
    transition: .2s;
    transform: scale(.98);
}
#container .imga {
    position: relative;
    margin-bottom: 4em;
    display: flex;
}

#container .imga{
    transition: .2s;
}
.bg-plate {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #000;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 3vh;
    color: #fff;
    opacity: 0;
    transition: .2s;
    z-index: 1;
}

/* .imga {
    padding-top: 20px;
} */

.bg-plate:hover {
    opacity: 1;
    transition: .2s;
}

.plate-container {
    border-radius: 5px;
    -ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
.title-plate {
    padding: 3em 0 0 3vh; 
}
img{
    width: 100%;
}
  

/* .fade {
    padding: 4em;
    column-count: 4;
    grid-column-gap: 4em;
    column-gap: 4em;
    margin-top: 190px;
} */
.fade-appear {
    opacity: 0;
    transform: scale(0.9);
}
.fade-appear .fade-appear-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms linear;
}  
/* .fade-enter {
    opacity: 0;
    transform: scale(1.1);
}
.fade-enter .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms linear;
} */

.page-enter {
    opacity: 0;
    transform: scale(1.1);
}
.page-enter .page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms linear;
}
 
.page-exit {
    opacity: 1;
    transform: scale(1);
}
.page-exit .page-exit-active{
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms linear;
}
.page-exit-done {
    opacity: 0;
}
/*  
.fade-exit {
    opacity: 1;
    transform: scale(1);
}
.fade-exit .fade-exit-active{
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms linear;
}
.fade-exit-done {
    opacity: 0;
} */

.plate-container {
    overflow: hidden; /* Fix for firefox and IE 10-11  */
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    break-inside: avoid-column;
}

.imga button {
    border: none;
    text-align: inherit;
    outline: none;
    text-decoration: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 0;
    margin: 0;
}