.sticky-header header{
  padding-top: 0;
}
.sticky-header .header{
  text-align: center;
  padding-top: 0;
  background-color: #fff;
  top: -30px;
  padding-bottom: 10px;
  width: 100vw;
  transition: padding-top .5s ease;
}
.header {
  position: fixed;
  background-color: #fff;
  width: 100vw;
  transition: padding-top .5s ease;
  z-index: 10;
}
.sticky-header .logo{
  display: none;
}
.logo a {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
}
.logo {
  text-align: center;
  padding-top: 30px;
  text-transform: uppercase;
  
}
header {
  display: flex;
  justify-content: center;
  
}

/*навигация*/
.menu-main {
  list-style: none;
  padding: 0 30px;
  margin: 40px 0 0 0;
  font-size: 18px;
  text-align: center;
  position: relative;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.menu-main li {
  display: inline-block;
  padding: 5px 0;
}
.menu-main a {
  text-decoration: none;
  display: inline-block;
  margin: 2px 80px;
  padding: 15px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  transition: .1s;
}
.menu-main .current, .menu-main a:hover {
  border-radius: 5px;
  background: #000000;
  color: #ffffff;
  animation: spring 100ms ease-out;
}
@keyframes spring {
  15% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.2, 1.1);
  }
  40% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(0.95, 0.95);
  }
  75% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.05, 1);
  }
  100% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1, 1);
  }
}
.header {
  text-align: center;
  padding-top: 32px;
}

.logo a::selection {
  background: #000;
  color: #fff;
}
.logo::-moz-selection {
  background: #000;
  color: #fff;
}

/* gellery */
#container{
  padding: 4em;
  column-count: 4;
  column-gap: 4em;
  margin-top: 190px;
}
@media (max-width: 600px) and (orientation:landscape) {
  #container{
    column-count: 3;
  }
}

@media(max-width: 1366px){
  #container{
      column-count: 3;
  }
}

@media(max-width: 900px){
  #container{
      column-count: 2;
  }
}

@media (max-width: 600px)  and (orientation:portrait){
  #container{
      column-count: 1;
  }
}


.hamburger-menu{
  display: none;
}
@media(min-width: 1100px){
  #container-about{
    padding: 4em;
    margin-top: 240px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #profile_img {
    padding-right: 95px;
  }
  .profile_name {
    margin-top: 50px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 27px;
  }
  .profile_text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 520px;
    text-align: center;
  }
}
@media(max-width: 1100px){
  .logo-close {
    padding-top: 38px;
  }
  .header-close {
    display: flex;
  }
  .hamburder-menu-container-close {
    width: 100vw;
    padding: 0 64px 0 18px
  }
  .hamburger-menu-close .menu-item {
    margin: 0 0 5px;
  }
  .hamburger-menu .menu-item {
    margin: 0 0 5px;
    transition: 20ms linear;
  }
  .hamburger-menu-close .menu-item:first-child {
    transform: rotate(45deg);
    transform-origin: 9px;
    transition: 20ms linear;
  }
  .hamburger-menu-close .menu-item:nth-child(2) {
    display: none;
  }
  .hamburger-menu-close .menu-item:nth-child(3) {
    transform: rotate(-45deg);
    transition: 20ms linear;
    transform-origin: 8px;
  }
  
  .menu-close {
    height: 0 !important;
    
    overflow: hidden;
  }
  .logo {
    width: 100%;
    margin-right: 62px;
    padding-top: 38px;
    text-align: end;
  }
  .hamburger-menu {
    display: block;
    height: 100px;
    outline: none;
    border: none;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    padding: 0;
    margin-left: 17px;
  }
  #container {
    margin-top: 100px;
  }
  .header {
    padding: 0;
  }
  .menu-item {
    background: black;
    display: block;
    height: 4px;
    margin: 0 0 5px;
    transition: all 0.3s ease-in-out;
    width: 30px;
    border-radius: 5px;
  }
  .menu {
    transition: 100ms linear;
    display: flex;
    width: 100vw;
    opacity: 1;
    height: 100vh;
    justify-content: center;
  }
  .logo-hm {
    display: flex;
    background-color: #fff;
    width: 100vw;
    transition: padding-top .5s ease;
    z-index: 10;
    position: fixed;
  }
  .menu-main {
    list-style: none;
    padding-top: 25%;
    margin: 0;
  }
  .menu-main a {
    display: flex;
    padding: 0;
    align-items: center;
    height: 25%;
    width: 100vw;
    justify-content: center;
  }
  .menu-main a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: #000000;
    transition: .1s;
  }
  .menu-main a:hover {
    border-radius: 0;
    background: #000000;
    animation: spring 100ms ease-out;
  }
  .menu-main .current {
    border-radius: 0;
    background: #000000;
    animation: spring 100ms ease-out;
  }
  .menu-main a:hover span {
    color: #ffffff !important;
  }

  #container-about{
    margin-top: 34vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #profile_img {
    padding-right: 10vw;
  }
  .profile_name {
    margin-top: 30px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
  }
  .profile_text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 316px;
    text-align: center;
  }
}
@media(max-width: 1180px){
  .menu-main li a{
    font-size: 18px;
  }
}
@media(max-width: 1132px){
  .menu-main li a{
    font-size: 16px;
  }
}
.fade-appear {
  opacity: 0;
  transform: scale(0.9);
}
.fade-appear .fade-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms linear;
} 