.sticky-header header{
  padding-top: 0;
}
.sticky-header .header{
  text-align: center;
  padding-top: 0;
  background-color: #fff;
  top: -30px;
  padding-bottom: 10px;
  width: 100vw;
  transition: padding-top .5s ease;
}
.header {
  position: fixed;
  background-color: #fff;
  width: 100vw;
  transition: padding-top .5s ease;
  z-index: 10;
}
.sticky-header .logo{
  display: none;
}
.logo a {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
}
.logo {
  text-align: center;
  padding-top: 30px;
  text-transform: uppercase;
}
header {
  display: flex;
  justify-content: center;
  
}

/*навигация*/
.menu-main {
  list-style: none;
  padding: 0 30px;
  margin: 40px 0 0 0;
  font-size: 18px;
  text-align: center;
  position: relative;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.menu-main li {
  display: inline-block;
  padding: 5px 0;
}
.menu-main a {
  text-decoration: none;
  display: inline-block;
  margin: 2px 80px;
  padding: 15px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  transition: .1s;
}
.menu-main .current, .menu-main a:hover {
  border-radius: 5px;
  background: #000000;
  color: #ffffff;
  animation: spring 100ms ease-out;
}
@keyframes spring {
  15% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.2, 1.1);
  }
  40% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(0.95, 0.95);
  }
  75% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.05, 1);
  }
  100% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1, 1);
  }
}
.header {
  text-align: center;
  padding-top: 32px;
}

.logo a::selection {
  background: #000;
  color: #fff;
}
.logo::-moz-selection {
  background: #000;
  color: #fff;
}

/* gellery */
#container{
  padding: 4em;
  column-count: 4;
  column-gap: 4em;
  margin-top: 190px;
}
@media(max-width: 1366px){
  #container{
      column-count: 3;
  }
}

@media(max-width: 900px){
  #container{
      column-count: 2;
  }
}

@media(max-width: 600px){
  #container{
      column-count: 1;
  }
}


.hamburger-menu{
  display: none;
}

@media(max-width: 1100px){
  .menu-close {
    display: none;
  }
  .header-close  {
    display: flex;
  }
  .hamburder-menu-container-close {
    width: 100%;
    padding-right: 64px;
  }
  .logo-close {
    padding-top: 38px;
  }
  .logo {
    width: 100%;
    margin-right: 64px;
    padding-bottom: 38px;
  }
  .hamburger-menu {
    display: block;
    height: 100px;
    outline: none;
    border: none;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    padding: 0;
    margin-left: 65px;
  }
  #container {
    margin-top: 80px;
  }
  .header {
    padding: 0;
  }
  .menu-item {
    background: black;
    display: block;
    height: 4px;
    margin: 0 0 5px;
    transition: all 0.3s ease-in-out;
    width: 30px;
    border-radius: 5px;
  }
  .menu {
    height: 100vh;
  }
  .menu-main {
    list-style: none;
    padding: 0;
    font-size: 18px;
    text-align: center;
    position: relative;
    margin: 0;
  }
  .menu-main a{
    justify-content: center;
    text-decoration: none;
    display: flex;
    padding: 61px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    transition: .1s;
    margin: 0;
  }
  .menu-main .current{
    border-radius: 0 !important;
  }
  .menu-main a:hover{
    border-radius: 0 !important;
  }
}
@media(max-width: 1180px){
  .menu-main a{
    font-size: 18px;
  }
}
@media(max-width: 1132px){
  .menu-main a{
    font-size: 16px;
  }
}
.fade-appear {
  opacity: 0;
  transform: scale(0.9);
}
.fade-appear .fade-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms linear;
} 